body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
dd,
dt {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  color: black;
  font-family: "微软雅黑";
}
a {
  text-decoration: none;
  color: black;
}
input,
img {
  padding: 0;
  border: none;
  outline-style: none;
  vertical-align: bottom;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
.clearfix {
  zoom: 1;
}
.wrapper {
  width: 1300px;
  margin: 0 auto;
}
